In [4]:
def area_of_circle (r):  # single parameter
    PI = 3.14
    area = PI * r ** 2
    return area
print(area_of_circle(10))

314.0

In [5]:
def perimeter_of_circle(r):
    PI = 3.14
    perimeter=PI*2*r
    return perimeter
print(perimeter_of_circle(10))

62.800000000000004

In [6]:
def add_all_num(n):
    total=0
    for i in range(n+1):
        total+=i
    print(total)
add_all_num(10)

55

In [7]:
def calculator(F):
    C=(F-32)*9/5
    print(C)
calculator(2)

-54.0

In [8]:
def check_season(a,b,c,d):
    autumn=a+d
    winter=a+d+b+c
    spring=a+d+b+c+d
    summer=a+d+b+c+d+d
    return autumn,winter,spring,summer
e,f,g,h=check_season(1,15,15,30)

print('autumn',e)
print('winter',f)
print('spring',g)
print('summer',h)

autumn 31
winter 61
spring 91
summer 121

In [9]:
def calculate_slope(x,y,b):
    k=(y+b)/x
    return k
calculate_slope(3,8,-2)

2.0

In [10]:
import math
def calculator(a,b,c):
    d=b**2-4*a*c
    x1=(-b+math.sqrt(d))/(2*a)
    x2=(-b-math.sqrt(d))/(2*a)
    return x1,x2
calculator(1,6,8)

(-2.0, -4.0)

In [11]:
for i in range(10):
        print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [12]:
for i in (range(5,0,-1)):
    print(i)

5
4
3
2
1

In [13]:
list1=['A','B','C']
list1.reverse()
print("reverse_list1:",list1)

reverse_list1: ['C', 'B', 'A']

In [14]:
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk']
food_staff.remove('Mango')
print(food_staff)

['Potato', 'Tomato', 'Milk']

In [15]:
numbers = [2, 3, 7, 9]
numbers.remove(3)
print(numbers)

[2, 7, 9]

In [16]:
def sum_of_nums(n):
    total=0
    for i in range (n+1):
        total=total+i
    print(total) 
print(sum_of_nums(5))
print(sum_of_nums(10))
print(sum_of_nums(100))

15
None
55
None
5050
None

In [17]:
def sum_of_even(n):
    total=0
    for i in range (n):
        if i%2==0:
            total=total+i
    return total
print(sum_of_even(11))

30

In [18]:
def even_and_numbers(n):
    evens = []
    for i in range(n + 1):
        if i % 2 == 0:
            evens.append(i)
    return evens
print(even_and_numbers(100))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [19]:
def even_and_numbers(n):
    odds=[]
    for i in range (n+1):
        if i %2 !=0:
            odds.append(i)
    return odds
print(even_and_numbers(100))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [20]:
def factorial(n):
    if n ==1:
        return 1
    else:
        return (n*factorial(n-1))
n=3
print( factorial(n))

6

In [21]:
def is_prime(n):
    for i in range(2,n):
        if n%i==0:
            print(" %d is not a prime number！" % n)
            break
        else:
            print(" %d is a prime number！" % n)
is_prime(100)

 100 is not a prime number！

In [22]:
def unique(l):
    l=[1,3,4,8,6,7]
    if len(l)==len(set(l)):
        print("所有元素是唯一的")
    else:
        print("存在重复")
unique("1,3,4,8,6,7")

所有元素是唯一的

In [23]:
total=0
def fib(n):
    total=0
    for i in range(2,n):
        if n%i!=0:
            total=total+i  
print(fib(5))

None

In [24]:
num = 2
while(num < 100):
    b = 2 
    while(b <= (num/b)):
        if (num % b == 0):
            break
        b = b + 1
    if (b > num/b):
        print(num,"is prime number")
    num = num +1

2 is prime number
3 is prime number
5 is prime number
7 is prime number
11 is prime number
13 is prime number
17 is prime number
19 is prime number
23 is prime number
29 is prime number
31 is prime number
37 is prime number
41 is prime number
43 is prime number
47 is prime number
53 is prime number
59 is prime number
61 is prime number
67 is prime number
71 is prime number
73 is prime number
79 is prime number
83 is prime number
89 is prime number
97 is prime number